<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h4 class="id"><%=post.id%></h4>
    <form method="post" action="/posts/<%= post.id %>?_method=PATCH"> <!--//action means whome you need to send the request -->
        <div class="post">
            <h3 class="username">@ <%= post.username %></h3>
            
            <img src="/images/img1.png" alt="post photo" id="img"><br>
            <textarea rows="8" cols="33" name="content" id="content"><%=post.content%></textarea> &nbsp;&nbsp;&nbsp;
            <button>Submit</button>
            <button><a class="no-underline" href="http://localhost:8080/posts">Go Back</a></button>
            <button><a class="no-underline" href="http://localhost:8080/post/new">Creat a new post</a></button>
            

        </div>
    </form>
</body>
</html>