<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post form</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <form action="/posts" method="post"> <!--//action means whome you need to send the request -->
        <input type="text" placeholder="type your username" name="username"> <br><br>
        <textarea placeholder="Jo Dil men he likh dalo!" name="content" id="content">Write your content</textarea><br>
        <button id="btn">Submit the Post</button>
    </form>
</body>
</html>